html, body {
    width: 600px;
}

.chart-legend li span{
    display: inline-block;
    /*box-sizing: border-box;*/
    width: 40px;
    height: 16px;
}

#js-legend {
  position: absolute;
  margin-right: 0px;
  right: 15px;
  top: 130px;
  font-size: 16px;
}

#data-module {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

#top-visited-websites-graph{
}

#top-websites-canvas{
    width: 300px !important;
    height: 300px !important;
    margin-left: 5%;
    margin-right: 5%;
}

#date-select-box{
    font-size: 14px;
    /*margin-right: 40px;*/
    position: absolute;
    top: 380px;
    right: 0;
    width: 200px;
    height: 100px;
}

#bottom-toolbar {
    position:fixed;
    bottom:0;
    width:100%;
    text-align: center;
    /*height:60px;*/
    /* background:#6cf; */
}

#work-time {
    width: 15%;
    text-align: center;
}
