html, body {
    width: 600px;
}

.chart-legend li span{
    display: inline-block;
    width: 40px;
    height: 16px;
}

#js-legend {
  position: absolute;
  margin-right: 0px;
  right: 15px;
  top: 180px;
  font-size: 16px;
}

#data-module {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

#data-module p {
    padding: 0;
    text-align: center;
    font-weight: normal;
    font-size: 18px;
}

#top-websites-canvas{
    width: 300px !important;
    height: 300px !important;
    margin-left: 5%;
    margin-right: 5%;
}

#date-select-box{
    font-size: 14px;
    position: absolute;
    top: 440px;
    right: 0;
    width: 200px;
    height: 100px;
}

#extension-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#bottom-toolbar {
    text-align: center;
    height: 37px;
    background: hsl(171, 100%, 41%);
}

.dropdown-item {
    text-align: left;
}

/* the input box*/
#work-time { 
    width: 10%;
    text-align: center;
    font-size: 15px;
}

.dropdown-menu {
    top: auto;
    bottom: 100%;
}

/* WorkTime: min */
#time-input {
    font-size: 16px;
    display: inline;
    color: hsl(0, 0%, 100%);
    position: relative;
    top: 6px;
}

/* working timer */
#timer {
    font-size: 25px;
    display: inline;
    color: white;
}

#goal {
    font-size: 12px;
    display: inline;
    color: green;
}


#cycle-btn {
    width: 80px;
    text-align: center;
}

#btns {
    float: right;
}

#timer-progress {
    margin-bottom: 1px;
}

#ambient-dropdown i {
    margin-left: 8px;
    visibility: hidden;
}

.select:not(.is-multiple)::after {
    z-index: auto;
}